:root {
  /* Colors --------- */
  --blue: #666ca3;
  --dark-blue: #13183f;
  --grey: #83869a;
  --pink: #f74780;
  --light-pink: #ffa7c3;
  --white: #fff;
  --pink-gradient: linear-gradient(
    0deg,
    rgba(240, 42, 166, 1) 0%,
    rgba(255, 111, 72, 1) 100%
  );
  --pink-gradient-hover: linear-gradient(
    0deg,
    rgb(227, 110, 185) 0%,
    rgb(240, 139, 111) 100%
  );
  --purple-gradient: linear-gradient(
    0deg,
    rgba(72, 81, 255, 1) 0%,
    rgba(240, 36, 70, 1) 100%
  );

  /* Font Size --------- */
  --fts-heading-xl: 56px;
  --fts-heading-l: 40px;
  --fts-heading-m: 32px;
  --fts-heading-s: 24px;
  --fts-body-m: 18px;
  --fts-body-s: 16px;

  /* Font Weight -------- */
  --ftw-light: 300;
  --ftw-regular: 400;
  --ftw-medium: 500;
  --ftw-bold: 700;
  --ftw-extra-bold: 800;

  /* Line Height ------- */
  --lh-heading: 1.25;
  --lh-body: 26px;

  /* Border Radius */
  --br-div: 10px;
}

/* Utility Classes ------- */
.container {
  margin: auto;
  max-width: 1200px;
  width: 90%;
  /* REMOVE background-color: rgb(185, 236, 219); */
}

.btn {
  border: none;
  padding: 13px 25px;
  border-radius: 28px;
  cursor: pointer;
}

.btn-dark {
  background-color: var(--dark-blue);
  color: var(--white);
}

.btn-dark:hover {
  background-color: var(--blue);
  color: var(--white);
}

.btn-pink {
  color: var(--white);
  background: var(--pink-gradient);
}

.btn-pink:hover {
  color: var(--white);
  background: var(--pink-gradient-hover);
}



*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: var(--lh-body);
  overflow-x: hidden;
}
h3 {
    font-size: var(--fts-heading-s);
}
a {
  color: var(--white);
  text-decoration: none;
}

/* Header ---------------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 40px;
}
.logo {
  font-size: var(--fts-body-m);
  font-weight: var(--ftw-bold);
}

/* HERO SECTION ---------- */
.hero__title {
  font-size: var(--fts-heading-l);
  font-weight: var(--ftw-regular);
  margin-bottom: 35px;
  line-height: var(--lh-heading);
}
.hero__paragraph {
  color: var(--grey);
  margin-bottom: 24px;
}
.hero__btn {
  margin-bottom: 30px;
  display: inline-block;
}
.hero__img-box {
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* background-color: rgb(223, 229, 223); */
  /* height: 800px; */
  /* background: url(./assets/image-hero-mobile.png) no-repeat center center; 
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%; */
}

/* PROFILE IMAGES */
.hero__img-mobile {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  min-width: 380px;
}
.hero__img-tablet {
  display: none;
}
.hero__img-desktop {
  display: none;
}

.hero__img {
  width: 100%;
  /* REMOVE position: relative; */
  /* object-position: 100% 100%; */
  /* object-fit: cover; */
}

/* COURSES SECTION ---------- */

/* 
font-family: .SFNSDisplay;
font-size: 24px;
color: #FFFFFF;
letter-spacing: 0;
line-height: 32px;
*/


.courses__title {
    background: var(--pink-gradient);
    padding: 10px;
    color: var(--white);
    border-radius: var(--br-div);
}

/* 
background-image: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
background-image: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
border-radius: 10px;
font-family: .SFNSDisplay;
font-size: 24px;
color: #FFFFFF;
letter-spacing: 0;
line-height: 32px;
background: #FFFFFF;
box-shadow: 0 25px 50px 0 rgba(6,22,141,0.04);
border-radius: 10px;
font-family: .SFNSDisplay;
font-size: 20px;
color: #13183F;
letter-spacing: 0;
font-family: .AppleSystemUIFont;
font-size: 16px;
color: #83869A;
letter-spacing: 0;
line-height: 26px;
font-family: .AppleSystemUIFont;
font-size: 18px;
color: #F74780;
letter-spacing: 0;
line-height: 28px;
background-image: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
background: #FFFFFF;
background: #FFFFFF;
box-shadow: 0 25px 50px 0 rgba(6,22,141,0.04);
border-radius: 10px;
font-family: .SFNSDisplay;
font-size: 20px;
color: #13183F;
letter-spacing: 0;
font-family: .AppleSystemUIFont;
font-size: 16px;
color: #83869A;
letter-spacing: 0;
line-height: 26px;
font-family: .AppleSystemUIFont;
font-size: 18px;
color: #F74780;
letter-spacing: 0;
line-height: 28px;
background-image: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
background: #FFFFFF;
background: #FFFFFF;
box-shadow: 0 25px 50px 0 rgba(6,22,141,0.04);
border-radius: 10px;
font-family: .SFNSDisplay;
font-size: 20px;
color: #13183F;
letter-spacing: 0;
font-family: .AppleSystemUIFont;
font-size: 16px;
color: #83869A;
letter-spacing: 0;
line-height: 26px;
font-family: .AppleSystemUIFont;
font-size: 18px;
color: #F74780;
letter-spacing: 0;
line-height: 28px;
background-image: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
background: #FFFFFF;
background: #FFFFFF;
box-shadow: 0 25px 50px 0 rgba(6,22,141,0.04);
border-radius: 10px;
font-family: .SFNSDisplay;
font-size: 20px;
color: #13183F;
letter-spacing: 0;
font-family: .AppleSystemUIFont;
font-size: 16px;
color: #83869A;
letter-spacing: 0;
line-height: 26px;
font-family: .AppleSystemUIFont;
font-size: 18px;
color: #F74780;
letter-spacing: 0;
line-height: 28px;
background-image: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
background: #FFFFFF;
background: #FFFFFF;
box-shadow: 0 25px 50px 0 rgba(6,22,141,0.04);
border-radius: 10px;
font-family: .SFNSDisplay;
font-size: 20px;
color: #13183F;
letter-spacing: 0;
font-family: .AppleSystemUIFont;
font-size: 16px;
color: #83869A;
letter-spacing: 0;
line-height: 26px;
font-family: .AppleSystemUIFont;
font-size: 18px;
color: #F74780;
letter-spacing: 0;
line-height: 28px;
background-image: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
background: #FFFFFF;
*/



/* ----------------------- 
TABLET MEDIA QUERY 
----------------------- */
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  body {
    background-color: lightblue;
  }

  /* HERO SECTION --------- */
  .hero {
    display: flex;
  }
  .hero__text-box {
    background-color: rgb(0, 251, 255);
    padding-top: 50px;
    width: 60%;
  }
  .hero__img-box {
    background-color: lime;
    width: 40%;
    max-height: 500px;
    position: relative;
  }
  .hero__img-mobile {
    display: none;
  }
  .hero__img-tablet {
    display: block;
    width: 100%;
    /* min-width: 500px; */
    min-width: 600px;

    position: relative;
    bottom: 60%;
    /* right: 45px; */
   left: 40%;
  }
}


/* ----------------------- 
DESKTOP MEDIA QUERY 
----------------------- */
@media only screen and (min-width: 1440px) {
    body {
        background-color: rgb(250, 248, 87);
      }
}