:root {
  /* Colors --------- */
  --blue: #666ca3;
  --dark-blue: #13183f;
  --grey: #83869a;
  --pink: #f74780;
  --light-pink: #ffa7c3;
  --white: #fff;
  --pink-gradient: linear-gradient(
    0deg,
    rgba(240, 42, 166, 1) 0%,
    rgba(255, 111, 72, 1) 100%
  );
  --pink-gradient-hover: linear-gradient(
    0deg,
    rgb(227, 110, 185) 0%,
    rgb(240, 139, 111) 100%
  );
  --purple-gradient: linear-gradient(
    0deg,
    rgba(240, 42, 166, 1) 0%,
    rgba(72, 81, 255, 1) 100%
  );
  --purple-gradient-hover: linear-gradient(
    0deg,
    rgb(230, 75, 173) 0%,
    rgb(99, 106, 233) 100%
  );

  /* Font Size --------- */
  --fts-heading-xl: 56px;
  --fts-heading-l: 40px;
  --fts-heading-m: 32px;
  --fts-heading-s: 24px;
  --fts-body-m: 18px;
  --fts-body-s: 16px;

  /* Font Weight -------- */
  --ftw-light: 300;
  --ftw-regular: 400;
  --ftw-medium: 500;
  --ftw-bold: 700;
  --ftw-extra-bold: 800;

  /* Line Height ------- */
  --lh-heading: 1.25;
  --lh-body: 26px;

  /* Border Radius */
  --br-div: 10px;
}

/* Utility Classes ------- */
.container {
  margin: auto;
  max-width: 1200px;
  width: 90%;
  /* REMOVE background-color: rgb(185, 236, 219); */
}

.btn {
  border: none;
  padding: 13px 25px;
  border-radius: 28px;
  cursor: pointer;
}

.btn-dark {
  background-color: var(--dark-blue);
  color: var(--white);
}

.btn-dark:hover {
  background-color: var(--blue);
  color: var(--white);
}

.btn-pink {
  color: var(--white);
  background: var(--pink-gradient);
}

.btn-pink:hover {
  color: var(--white);
  background: var(--pink-gradient-hover);
}
.btn-purple {
  color: var(--white);
  background: var(--purple-gradient);
}

.btn-purple:hover {
  color: var(--white);
  background: var(--purple-gradient-hover);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: var(--lh-body);
  overflow-x: hidden;
  background: var(--white);
}
h3 {
  font-size: var(--fts-heading-s);
  line-height: 32px;
}
h4 {
  font-size: 20px;
  color: var(--dark-blue);
  font-weight: var(--ftw-bold);
}
a {
  color: var(--white);
  text-decoration: none;
}

/* Header ---------------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 40px;
}
.logo {
  font-size: var(--fts-heading-m);
  font-weight: var(--ftw-bold);
}

/* HERO SECTION ---------- */
.hero__title {
  font-size: var(--fts-heading-l);
  font-weight: var(--ftw-regular);
  margin-bottom: 35px;
  line-height: var(--lh-heading);
}
.hero__paragraph {
  color: var(--grey);
  margin-bottom: 24px;
}
.hero__btn {
  margin-bottom: 30px;
  display: inline-block;
}
.hero__img-box {
  width: 100%;
}

/* PROFILE IMAGES -------- */
.hero__img-mobile {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  min-width: 380px;
}
.hero__img-tablet {
  display: none;
}
.hero__img-desktop {
  display: none;
}
.hero__img {
  width: 100%;
}

/* COURSES SECTION ---------- */
.course {
  margin-bottom: 100px;
}
.course__title-box {
  margin-bottom: 60px;
  background: var(--pink-gradient);
  border-radius: var(--br-div);
  padding: 30px;
  box-shadow: 0 25px 50px 0 rgba(6, 22, 141, 0.04);
}
.course__title {
  color: var(--white);
}
.course__box {
  border-radius: var(--br-div);
  position: relative;
  background: var(--white);
  padding: 30px;
  padding-top: 50px;
  margin-bottom: 60px;
  box-shadow: 0 25px 50px 0 rgba(6, 22, 141, 0.15);
}
.course__icon {
  position: absolute;
  top: calc(56px / 2 * -1);
  left: calc(56px / 2);
}
.course__paragraph {
  color: var(--grey);
  padding: 20px 0;
}
.course__link {
  color: var(--pink);
  font-size: 20px;
}

/* FOOTER SECTION ------------- */
.footer {
  background-color: var(--dark-blue);
  padding: 40px 0;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  color: var(--white);
}

/* ----------------------- 
TABLET MEDIA QUERY 
----------------------- */
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  body {
    background-color: lightblue;
  }

  /* HERO SECTION --------- */
  .hero {
    display: flex;
  }
  .hero__text-box {
    background-color: rgb(0, 251, 255);
    padding-top: 50px;
    width: 60%;
  }
  .hero__img-box {
    background-color: lime;
    width: 40%;
    max-height: 500px;
    position: relative;
  }
  .hero__img-mobile {
    display: none;
  }
  .hero__img-tablet {
    display: block;
    width: 100%;
    /* min-width: 500px; */
    min-width: 600px;

    position: relative;
    bottom: 60%;
    /* right: 45px; */
    left: 40%;
  }

  /* COURSES SECTION ---------- */
  .course {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .course__flex-item {
    width: 48%;
    width: calc(100% / 2 - 15px);
  }
}

/* ----------------------- 
DESKTOP MEDIA QUERY 
----------------------- */
@media only screen and (min-width: 1440px) {
  body {
    background-color: rgb(250, 248, 87);
  }

  /* COURSES SECTION ---------- */
  .course {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .course__flex-item {
    width: 48%;
    width: calc(100% / 3 - 20px);
  }
}
